.xdb-flow-panel {
  margin: 8px 0 8px 10px;
  .panel-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    //padding-left: 10px;
    height: 30px;
    font-size: 14px;
    //background: var(--xdb-gray);
    span {
      margin-left: 6px;
    }
  }
  .props-group {

  }
  .props-group-header {
    margin-bottom: 8px;
    padding-left: 10px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    background: var(--xdb-gray);
    //border-bottom: 1px solid #d9d9d9;
  }
  .props-group-body {
    margin-left: 20px;
  }
}