.x-framework {
  display: flex;
  flex-direction: column;
}
.x-framework-header {
  height: 30px;
  font-size: 14px;
  background: skyblue;
}
.x-framework-body {
  flex: 1;
}
.x-framework-menu {
  flex: 1;
  margin-left: 20px;
  height: 30px;
  gap: 10px;
}
.x-framework-menu-item {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  &:hover {
    background: #43a1c5;
  }
}