.xdbi-widget-chart {
  display: flex;

  .no-config-chart {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 14px;
    color: #999999;
    background: #fafafa;
  }
}