.xdbi-widget-chart {
  display: flex;

  .no-config-chart {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 14px;
    color: #999999;
    background: #fafafa;
    cursor: pointer;
  }
}

.xdbi-widget-chartConfig {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100%;
  
  .chartConfig-datasource {
    width: 300px;
    background: #f8f8f8;
  }
  .chartConfig-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }
  .chartConfig-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }
  .chartConfig-header {
    position: relative;
    height: 40px;
    border-bottom: 2px solid #f0f0f0;
  }
  .chartConfig-label {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 16px;
    font-size: 14px;
    line-height: 40px;
    border-bottom: 2px solid #1677ff;
  }

  .chartConfig-datasource {
    display: flex;
    flex-direction: column;
    
    .chartConfig-body {
      flex: 1;
      margin: 16px;
    }
    .ds-selector {
    }
    .ds-fields {

    }
    .ds-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;
      padding-left: 4px;
      height: 36px;
      color: #1677ff;
      border-bottom: 1px solid #dddddd;
      svg {
        fill: #1677ff;
        margin-right: 4px;
      }
    }
    .ds-field-list {
      margin-left: 20px;
    }
    .ds-field-item {
      padding: 4px 10px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {

      }
    }
    .ds_dimensions {
      .ds-field-item:hover {
        background: #d2e3ff;
      }
    }
    .ds_metrics {
      .ds-field-item:hover {
        background: #d5e9c4;
      }
    }
  }

  .chartConfig-params {
    min-height: 140px;
    background: #f8f8f8;
    border-radius: 4px;
    
    .chartConfig-body {
      padding: 10px 20px 20px;
    }
    .params-row {
      display: flex;
      flex-direction: row;
      margin-top: 6px;
      align-items: center;
    }
    .params-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80px;
      height: 30px;
      //background: #d9e3f0;
    }
    .params-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      padding: 0 4px;
      height: 36px;
      background: #ffffff;
      border: 1px dashed rgba(0, 0, 0, 0.1);
    }
    .params-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 4px 0 10px;
      height: 28px;
      font-size: 13px;
      background: #d9e3f0;
      border-radius: 4px;
      cursor: pointer;
      svg {
        margin-left: 6px;
        fill: rgba(0, 0, 0, 0.1);
      }
      &:hover svg {
        fill: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .chartConfig-show {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .chartConfig-body {
      flex: 1;
      border: 1px solid #eeeeee;
    }
    .no-config-chart {
      flex: 1;
      padding: 50px;
      color: #cccccc;
      text-align: center;
    }
  }

  .chartConfig-types {
    background: #f8f8f8;
    border-radius: 4px;
  }
  .chartConfig-types-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    padding: 20px;
  }
  .chartConfig-type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 60px;
    height: 60px;
    font-size: 13px;
    fill: #1677ff;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
  }
  .chartConfig-type-selected {
    color: #ffffff;
    fill: #ffffff;
    background: #1677ff;
  }

  .chartConfig-props {
    flex: 1;
    background: #f8f8f8;
    border-radius: 4px;
  }
}