html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Microsoft YaHei","Source Han Sans SC","Noto Sans CJK SC","WenQuanYi Micro Hei",sans-serif;
}

html, body, #app {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowCenter {
  .flexRow;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexAuto {
  flex: 1;
  overflow: hidden;
}